<div class="container">

  <header class="header">
    <h1 class="title">Jose Luis Tapia Simanca</h1>
    <p class="subtitle">Automatización Industrial | Desarrollo de Software</p>
  </header>

  <main class="split">

    <section class="panel left" (click)="irAlPerfil('automatizacion')">
      <div class="content">
        <h2>Automatización Industrial</h2>
      </div>
    </section>

    <section class="panel right" (click)="irAlPerfil('software')">
      <div class="content">
        <h2>Desarrollo de Software</h2>
      </div>
    </section>
  </main>

</div>